version: "3"
services:
  postgres:
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=userdb
    volumes:
      - ~/docker-volume/db:/var/lib/postgresql/data
    ports:
      - 5432:5432
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=parth.sanaja@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=pgadmin
    volumes:
      - ~/docker-volume/pgadmin:/var/lib/pgadmin
    ports:
      - 9000:80
  product-service-v2:
    build: ../product-service-v2
    image: parthsanaja/product-service-v2:latest
    ports:
      - "8091:8091"
    depends_on:
      - mongo
  user-service-v2:
    build: ../user-service-v2
    image: parthsanaja/user-service-v2:latest
    ports:
      - "8092:8092"
    depends_on:
      - postgres
  order-service:
    build: ./
    image: parthsanaja/order-service:latest
    ports:
      - "8090:8090"
    depends_on:
      - postgres
  mongo:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=pass4
      - MONGO_INITDB_DATABASE=authdb
    ports:
      - "26017:27017"
    volumes:
      - ~/docker-volume/mongo/data/db:/data/db
  mongo-express:
    image: mongo-express
    restart: always
    environment:
      - ME_CONFIG_MONGODB_AUTH_USERNAME=admin
      - ME_CONFIG_MONGODB_AUTH_PASSWORD=pass4
      - ME_CONFIG_MONGODB_URL=mongodb://admin:pass4@mongo:27017/
    depends_on:
      - mongo
    ports:
      - "8888:8081"

